@font-face {
	font-family: 'pacfont';
	src: url(../font/pacfont.ttf);
}


*{
    margin: 0;
    padding: 0;
}
body{
    width: 125%;
}
.chart canvas{
    position: fixed;
    height: 100vh;
    width: 125%;
    left: -25%;
    bottom: -25px;
}
.line{
    position: fixed;
    top: 30vh;
    left: 0;
    width: 100%;
    height: 2px;
    background: rgba(255, 0, 0, 0.3);
}
.map{
    position: fixed;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
}
.face{
    position: absolute;
}

.alert{
    font-family: 'pacfont';
    color: red;
    font-size: 60px;
    text-align: center;
    width: 100%;
    position: fixed;
    top: 27vh;
    left: 0;
    padding: 3% 0;
    background: rgba(255,255,0, 0.6);
    display: none;
}
.alert img{
    display: block;
    float: left;
    width: 60px;
    margin-left: 20px;
}

#container canvas{
    display: none;
    
}